*{
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 800;
    font-size: 40px;
    color: #333333;
    margin-bottom: 10px;
}
h3{
    font-size: 24px;
    font-weight: 600;
}




.home{
    height: 100vh;
    background-image: url(images/slider-02.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.layer{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right:  0;
    bottom:  0;
}
.nav-bar{
    width: 100%;
    position: fixed  ; 
    font-family: 'Roboto', sans-serif;
    background-color:black;
    z-index: 100;
    
}
.nav-bar >a{
    display: inline-block;
    color: #ff305b;
    font-size: 24px;
    font-weight: 500;
    padding: 15px ;
    position: relative;
    top: 0px;
    left: 100px;

}
.nav-bar ul li a:hover{
    color: #ff305b;
}
.nav-bar ul {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 55%;
}
.nav-bar ul li{
    vertical-align: 10%;
    padding-left: 20px;
    display: inline-block;
}

.nav-bar ul li a{
    color: white;
    font-weight: lighter;
    transition: 1s  color;

}

.hello-home{
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
        overflow: hidden;

}
.hello-home h3{
    color: white;
    font-weight: 600;
    margin: 0 0 10px;
}

.hello-home h1{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
}

.hello-home .prof{
    display: inline-block;
    margin: auto;
    width: 85%;


}
.hello-home h4{
    color: white;
    font-weight: lighter;
    font-size: 26px;
    position: relative;
    top: 0;
    left: 0;
    
}
.hello-home h4::after{
    text-align: start;
    width: 35%;
    display: inline-block;
    content: 'Developer';
    line-height: 30px;
    border-right:3px solid white ;
    overflow: hidden;
    vertical-align: bottom;
    animation-name: home-animation ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
    
}

.clear-fix{
    clear: both;
}
.hello{
    padding: 100px;
}
.hello .section{
    width: 50%;
    float: left;

}
.center{
    text-align: center;
}
.hello-img {
    display: inline-block;
    border: 10px solid #555555; ;
    border-radius: 10px;
}
.img-informaion{
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    
}

.hello-img .img-informaion img{
    border-radius: 10px;    
    width: 100%;
    
}
.hello-img .img-informaion .informaion{
    background-color: hsl(0, 0%, 0%,0.61);
    width: 100%;
    height: 100%;
    border-radius: 10px;    
    position: absolute;
    top:100%;
    left:0 ;
    transition: 1s top;
}
.hello-img .img-informaion:hover .informaion{
    top: 0;
}


.hello-img .img-informaion .informaion .icons{
    position: absolute;
    top: 47%;
    left: 28%;
    
}

.hello-img .img-informaion .informaion .icons .fa-brands{
    color: white;
    color: white;
    padding: 10px ;
    transition: 1s color;
}
.hello-img .img-informaion .informaion .icons .fa-brands:hover{
    color: #ff305b;
}


/* .hello-sectoin{

} */

.hello-sectoin .hello-h2 {
    border-left: 5px solid #ff305b;
    margin-bottom: 20px;
}
.hello-sectoin .hello-h2 h2{
    padding-left: 10px;
    font-size: 34px;
    font-weight: 600;
}

.hello-sectoin > p{
    color: #555555 ;
    padding-bottom: 30px;
    text-align: start;
    width: 90%;
}
.hello-sectoin hr{
    border-top: 1px dashed ;
    margin-bottom: 25px;
}

.hello-sectoin .presonla-details div{
    width: 40%;
    float: left ;
}
.hello-sectoin .presonla-details div p{
    color: #555555;
    padding: 10px 0px;
}
.hello-sectoin .presonla-details div span{
    color: #333333;
    font-weight: 500;
}
.hello-sectoin .presonla-details div a{

    color: #7e7e7e;
}

.btns{
    padding: 30px 0px;
}
.hello-sectoin .btns a{
    margin: 15px 0px;
    border-radius: 5px;
    border: none;
    background-color: #ff305b ;
    padding: 15px 40px;
    margin-right: 15px;
    transition: 1s background-color;
}
.hello-sectoin .btns a:hover{
    background-color: #EC2403;
}
.hello-sectoin .hello-btn p{
    display: inline-block;
    color: white;
    margin-right: 5px;
}

.our-services{
    background-color: #F1F1F1;
    text-align: center;
    padding: 100px;
}
.our-services h2{
    
}

.hr-desgin{
    border: 0.1px solid #ff305b;
    margin: auto;
    width: 7%;
    margin-bottom: 3px;
}

.hr-desgin1{
    border: 1px solid #ff305b;
    margin: auto;
    width: 12%;
    margin-bottom: 3px;
}
.hr-desgin3{
    border: 0.1px solid #ff305b;
    margin: auto;
    width: 7%;
    margin-bottom: 50px;
}

.our-services .service{
    text-align: center;
    width: 25%;
    float: left;
    padding: 30px;
    transition: .5s background-color,.5s box-shadow;
    position: relative;
}
.our-services .service:hover{
    background-color: white;
    box-shadow: 0px 3px 5px 1px hsl(0, 0%, 50%,0.4);
}
.our-services .service h3{
    padding: 20px;
    font-weight: 450;
}
.our-services .service p{
    padding: 5px;
}
.mm{
    width: 100%;
height: 5%;
}

.icofont-2x{
    position: relative;
    color: #ff305b;
    padding: 10px;
    transition: 1s font-size ;
}
.our-services .service:hover .icofont-2x{
    font-size: 50px;
}

.Our-Portfolio{
    padding: 100px;
    text-align: center;
}
/* .Our-Portfolio ul{
    
} */
.Our-Portfolio ul li{
    display: inline-block;
    padding: 30px 10px;
    padding-top:0 ;
    
    
}
.Our-Portfolio ul li a{
   color: #000;
   font-size: 18px;
}

/* .Our-Portfolio .products-photo {
    
} */
.Our-Portfolio .products-photo .product{
    width: 33.33333%;
    float: left;
    padding: 30px;
}
.Our-Portfolio .products-photo .product .img-and-plore{
    position: relative;
}
.Our-Portfolio .products-photo .product  img{
    width: 100%;

}

.Our-Portfolio .products-photo .product .img-plore{
        background-color: hsl(0, 0%, 0%,0.61);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 1s opacity;

}
.Our-Portfolio .products-photo .product .img-and-plore:hover .img-plore{
    opacity: 1;
}

.Our-Portfolio .products-photo .product .img-plore .fa{
    position: absolute;
    bottom: 7%;
    right: 5%;
    color: #ff305b;
    font-size: 20px;
}
.statistics{
    padding: 100px;
    background-color: #F1F1F1;
}
.statistics .section-stat{
    text-align: center;
    width: 25%;
    float: left;
}
.statistics .section-stat .fa{
    color: #ff305b;
    font-size: 26px;
}
.statistics .section-stat h3{
    padding: 10px;
}
.statistics .section-stat p{
    color: #555555;
}
.Clients-Feedback{
    padding: 100px;
    text-align: center;
    position: relative;
}
.Clients-Feedback .card{
    height: 35%;
    width: 60%;
    background-color:#F1F1F1;
    text-align: start;
    margin: auto;
    border-radius: 10px;
    position: relative;
}
.Clients-Feedback .card .notch{
    display: inline-block;
    border-top: 180px solid #ff305b;
    border-left: 180x solid  #ff305b;
    border-bottom:0px solid #F1F1F1;
    border-right:180px solid #F1F1F1 ;
    border-radius:5px ;

}
.Clients-Feedback .card-detail{
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 1;    
}
.Clients-Feedback .card .card-image{
    padding-top: 15px;
    width: 15%;
    float: left;
}
.Clients-Feedback .card .card-image img{
    width:100% ;
    border-radius: 50%;
}
.Clients-Feedback .card .card-details{
    
    width: 70%;
    float: left;
    
}
.Clients-Feedback .card .card-details h3{
    font-size: 26px;
    font-weight: 500;
}
.Clients-Feedback .card .card-details p{
    color: #777777;
    padding: 7px 0px;
}
.fa{
    color: #777777;
}

.Clients-Feedback .card .card-details .information{
    color: #555555;
    padding: 20px 0px;
    padding-top: 5px;
}
.fa-solid{
    color: #F1C30D;
}
.fa-regular{
    color: #F1C30D;
}

.Clients-Feedback .move-btn{
    padding-top: 5px;
}
.Clients-Feedback .move-card{
    margin: auto;
    background-color:  #ff305b;
    height: 1.5%;
    width: 2.5%;
    border-radius: 10px;
    display: inline-block;

}
.Clients-Feedback .move-card2{
    display: inline-block;
    margin: auto;
    border: 1px solid #ff305b;
    height: 1.5%;
    width: .9%;
    border-radius: 10px;
}

.Our-Blog{
text-align: center;
background-color: #F1F1F1;
padding: 100px;
}
/* .Our-Blog .blogs{
} */


.Our-Blog .blogs .blog {
    width: 33.333%;
    text-align: start;
    padding: 20px;
    float: left;
}
.Our-Blog .blogs .blog  img{
    width: 100%;
    padding-bottom: 20px;
 }
 
.Our-Blog .blogs .blog .layerr{
    background-color: white;
    
}
.Our-Blog .blogs .blog .layerr p {
    color:#555555;
    padding: 0px 20px;
    width: 80%;
    line-height: 26px;
}
.Our-Blog .blogs .blog .layerr a {
    color: #333333;
    padding:15px 20px; 
    display: inline-block;
    transition: 1s  color;
    
}
.Our-Blog .blogs .blog .layerr a:hover{
    color: #ff305b;
}

.Our-Blog .blogs .blog .layerr a h3{
    font-weight: 500;
}
.Our-Blog .blogs .blog .layerr a .fa {
    color: #333333;
    transition: 1s  color;

}
.Our-Blog .blogs .blog .layerr a .fa:hover{
    color: #ff305b;

}
.Our-Blog .blogs .blog .layerr .container  {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
    margin-bottom: 20px;
}
.Our-Blog .blogs .blog .layerr .container iframe  {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}



.Contact-Us{
    text-align: center;
    padding: 70PX;
}
.Contact-Us .information{
    width: 60%;
    margin: auto;
}


.Contact-Us .information input{
    border:2px solid hsl(0, 0%, 60%,0.3);
    border-radius: 5px;
    height: 6%;
    margin-bottom:20px ;
    padding: 10px;
}
.name{
    width: 45%;
}
.email{
    width: 45%;
    margin-left: 25px;
}
.subject{
    width: 94%;
}
.message{
    padding: 10px;
    width: 94%;
    resize: vertical;
    border:2px solid hsl(0, 0%, 60%,0.3);
    border-radius: 5px;
}

.Contact-Us .information .submit-btn{
    text-align: start;
}
.Contact-Us .information .submit-btn button{
    margin: 25px 25px;
    border-radius: 5px;
    border: none;
    background-color: #ff305b ;
    padding: 15px 30px;
    margin-right: 15px;
    transition: 1s background-color ;

}
.Contact-Us .information .submit-btn button:hover{
    background-color: #EC2403;
} 

.Contact-Us .information .submit-btn p{
    display: inline-block;
    color: white;
    margin-right: 5px;
} 
::placeholder {
    color: hsl(0, 0%, 60%,);;
    opacity: 0.8; /* Firefox */
 }

 .last-section{
    background-color: #333333;
    text-align: center;
    padding: 45px;
 }
 .last-section .fa-brands{
    color: white;
    padding: 10px;
    transition: 1s color;
 }
  .last-section .fa-brands:hover{
    color: #ff305b;
  }
 .last-section p{
    color: white;
    padding: 10px;
 }
 .last-section p span{
    color: #ff305b;
 }

 @keyframes  home-animation {
    0%{ width: 34%; }  
    4%{ width: 34%; }  
    18%{ width: 0%;}  
    36%{width: 34%; }
    40%{width: 34%; }
    54%{width: 0%;}
    72%{width: 34%; ;content: "Designer";}
    78%{width: 34%; ;content: "Designer";}
    90%{width: 0%;   }
    100%{width: 34%;  }
 }

 @media (max-width: 1254px) {
    .hello .section{
        width: 100%;
        padding-top: 50px;
    }
    .nav-bar ul{
        left: 50%;
    }
    

   }
 @media (max-width: 1089px) {
   
    .nav-bar ul{
        left: 40%;
    }
    

   }

 @media (max-width: 992px) {
    .nav-bar ul{
        left: 35%;
    }
    
   
    .our-services .service{
        width: 50%;
        
    }
    .Our-Portfolio .products-photo .product{
        width: 50%;
    }
    .statistics .section-stat{
        width: 50%;
    }
    .Our-Blog .blogs .blog{
        width: 50%;

    }   
    .Clients-Feedback .card{
        height: 50%;
    width: 80%;
    }
}
@media (max-width: 832px) {
    .nav-bar ul{
        display: none;
    }
    .nav-bar >a{
        left: 45%;
    }
}
   

 @media (max-width: 768px) {
    .hello-home{
        left: 0;
    }
    .nav-bar ul{
        display: none;
    }
    
    .hello-home{
        left: 20%;
    }
    .our-services .service{
        
        width: 100%;
        
    } 
    .Our-Portfolio .products-photo .product{
        width: 100%;
    }
    .statistics .section-stat{
        width: 100%;
    }
    .Our-Blog .blogs .blog{
        width: 100%;

        
    }  
    .Clients-Feedback .card{
        height: 50%;
    width: 100%;
    }
    .Contact-Us .information{
        width: 100%;
    }
    .hello-sectoin .btns a{
        display: block;
    }
    .hello-sectoin .presonla-details div{
        width: 100%;
    }
  }

 @media (max-width: 576px) {
    .Clients-Feedback .card{
        height: 80%;
    width: 100%;
    }
    .hello-home{
        left: 10%;
    }
   }    
 @media (max-width: 447px) {
   
    .Clients-Feedback {
       display: none;
    }
    .Contact-Us {
        display: none;
    }
   }    
 


 

 
